.query-block {
  width: 100%;
}

.feature-grid-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem 2rem;
  padding: 0 1rem;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .feature-grid-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .feature-grid-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
